<!DOCTYPE html>
<html lang="es">
<head>
	<title>Estadísticas de plugins en WordPress.org</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>

	<div class="w-100 pt2 pb4 ph3 pa5-ns" style="background-color: #29AAE3;">
		<div class="center tc">
			<h1 class="f2 f1-ns fw3 lh-title white mv3 mv2-ns">Estadísticas de plugins en WordPress.org</h1>
			<h3 class="f5 f4-ns fw3 lh-subtitle black-80 mt2 mb4">Introduce el "slug-del-plugin" y nº de días (1-90) para ver las estadísticas.</h3>
			<form id="search-form">
				<input id="search-input" type="text" placeholder="ejemplo: simple-code-block" class="input-reset pv3 b1 b--black-60 o0 ph3 br2 w-100 w-40-ns fw3 black-80" value=""/>
				<input id="search-quantity" type="number" name="quantity" min="10" max="90" step="1" value="90" class="input-reset pv3 b1 b--black-60 o0 ph3 br2 4 fw3 black-80">
				<input type="submit" value="Ver resultados" style="cursor: pointer;" class="pv3 b1 b--black-60 o0 ph3 br2 4 fw3 black-80">
			</form>
		</div>
	</div>
	<div class="plugin pv3 w-80 center">
		<div class="plugin-title-wrap"></div>
		<div class="cf f6">
			<div class="fl w-100 w-50-ns mb4 mb0-ns">
				<div class="plugin-historical-summary-wrap w-80 center mb1"></div>
			</div>
			<div class="fl w-100 w-50-ns">
				<div class="plugin-details-wrap w-80 center mb1"></div>
			</div>
		</div>
	</div>
	<div class="chart-container w-80 center mb4">
		<canvas id="chart" class="" width="100%" height="100%"></canvas>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

	<script type="text/template" id="plugin-title">
		<h4 class="mb0 f2 fw3 black-80 lh-copy tc"><%= plugin.name %></h4>
		<div class="tc fw3 mb5"> 
			<img src="<%= plugin.banners.high ? plugin.banners.high : plugin.icons['2x'] %>" alt="<%= plugin.name %>" style="margin: 30px;">  
			<p class="mt0"><%= plugin.short_description %></p>
	    	<p class="mt0">Ver en el <a class="blue" target="_blank" href="https://wordpress.org/plugins/<%= plugin.slug %>">Repositorio WordPress</a></p>
	 	</div>
	</script>

	<script type="text/template" id="plugin-historical-summary">
		<h4 class="f3 fw4 mt0 mb3">Descargas</h4>
		<table class="f6 w-100 mw8 center" cellspacing="0">
			<tbody class="lh-copy">
				<tr>
					<td class="b">Hoy:</td>
					<td><%= parseInt( plugin.today ).toLocaleString() %></td>
				</tr>
				<tr>
					<td class="b">Ayer:</td>
					<td><%= parseInt( plugin.yesterday ).toLocaleString() %></td>
				</tr>
				<tr>
					<td class="b">Pasada semana:</td>
					<td><%= parseInt( plugin.last_week ).toLocaleString() %></td>
				</tr>
				<tr>
					<td class="b">Totales:</td>
					<td><%= parseInt( plugin.all_time ).toLocaleString() %></td>
				</tr>
			</tbody>
		</table>
	</script>

	<script type="text/template" id="plugin-details">
		<h4 class="f3 fw4 mt0 mb3">Detalles</h4>
		<table class="f6 w-100 mw8 center mb3 mb0-ns" cellspacing="0">
			<tbody class="lh-copy">
				<tr>
					<td class="b">Instalaciones activas:</td>
					<td><%= plugin.active_installs.toLocaleString() %>+</td>
				</tr>
				<tr>
					<td class="b">Versión:</td>
					<td><%= plugin.version %></td>
				</tr>
				<tr>
					<td class="b">Última actualización:</td>
					<td><%= moment.utc( plugin.last_updated, 'YYYY-MM-DD HH:mma' ).fromNow() %></td>
				</tr>
				<tr>
					<td class="b">Autor:</td>
					<td><%= plugin.author.replace( 'href', 'class="blue" target="_blank" href' ) %></td>
				</tr>
			</tbody>
		</table>
	</script>

	<script type="text/template" id="plugin-waiting">
		<div class="plugin-waiting-wrap w-80 center tc">
			<h4 class="f4 fw3 black-80 lh-copy">Introduce el "slug-del-plugin" y presiona "enter" para ver las estadísticas.</h4>
		</div>
	</script>

	<script type="text/template" id="plugin-missing">
		<div class="plugin-missing-wrap w-80 center tc">
			<h2 class="f2 fw3 blue">Plugin No econtrado</h2>
			<h4 class="f4 fw3 black-80 lh-copy">No existe ningún plugin con ese "slug". Si ya lo has subido justo hoy, inténtalo de nuevo más tarde o pasado un día.</h4>
		</div>
	</script>

	<script>
		Chart.defaults.global.maintainAspectRatio = false;
		Chart.defaults.global.scaleLabel = "<%=parseInt(value).toLocaleString()%>";
		$( '#search-form' ).on( 'submit', function() {
			var search_slug = $( '#search-input' ).val();
			if ( search_slug.length > 0 ) {
				app_router.navigate( 'plugin/' + search_slug, true );
			}
		});
		var AppRouter = Backbone.Router.extend({
			routes: {
				"plugin/:slug": "getPlugin",
				"*actions": "defaultRoute"
			}
		});

		/**
		* JavaScript Get URL Parameter
		* 
		* @param String prop The specific URL parameter you want to retreive the value for
		* @return String|Object If prop is provided a string value is returned, otherwise an object of all properties is returned
		*/
		function getUrlParams( prop ) {
			var params = {};
			var search = decodeURIComponent( window.location.href.slice( window.location.href.indexOf( '?' ) + 1 ) );
			var definitions = search.split( '&' );

			definitions.forEach( function( val, key ) {
				var parts = val.split( '=', 2 );
				params[ parts[ 0 ] ] = parts[ 1 ];
			} );

			return ( prop && prop in params ) ? params[ prop ] : params;
		}

		// Initiate the router
		var app_router = new AppRouter;
		app_router.on('route:getPlugin', function(slug) {
			$( '.plugin-missing-wrap' ).remove();
			$( '#chart' ).remove();
			$( '.plugin .plugin-title-wrap').html('');
			$( '.plugin .plugin-historical-summary-wrap').html('');
			$( '.plugin .plugin-details-wrap').html('');
			$( '#search-input' ).val( slug );
			var search_quantity = getUrlParams( 'quantity').split('#');
			search_quantity = parseInt( search_quantity[0] );
			$( '#search-quantity' ).val( search_quantity );
			// Download summary
			function download_summary() {
				$.ajax({
					url: 'https://api.wordpress.org/stats/plugin/1.0/downloads.php?slug=' + slug + '&historical_summary=1&callback=?',
					type: 'GET',
					cache: false,
					dataType: 'jsonp',
					success : function(response) {
						//console.log('estadistica', response);
						var template = _.template( $( '#plugin-historical-summary' ).html(), { plugin: response } );
						$( '.plugin .plugin-historical-summary-wrap' ).append( template );
					}
				});
			}
			$.ajax({
				url: 'https://wordpress.org/plugins/wp-json/plugins/v1/plugin/' + slug,
				type: 'GET',
				cache: false,
				dataType: 'json',
				success : function(response) {
					//console.log('respuesta', response);
					download_summary();
					plugin_chart( search_quantity + 1 );
					$( '.plugin-waiting-wrap' ).remove();
					var template = _.template( $( '#plugin-title' ).html(), { plugin: response } );
					$( '.plugin .plugin-title-wrap' ).html( template );
					var template = _.template( $( '#plugin-details' ).html(), { plugin: response } );
					$( '.plugin .plugin-details-wrap' ).html( template );
				},
				error : function(error) {
					var template = _.template( $( '#plugin-missing' ).html() );
					$( '.plugin' ).append( template );
				}
			});
			function plugin_chart( limit ) {
				$.ajax({
					url: 'https://api.wordpress.org/stats/plugin/1.0/downloads.php?slug=' + slug + '&limit=' + limit,
					type: "GET",
					cache: false,
					dataType: "jsonp",
					success : function(response) {
						//console.log('grafico', response);
						if ( 1 === _.keys( response ).length && 0 === response[ Object.keys( response )[0] ] ) {
						} else {
							$( '.chart-container' ).append( '<canvas id="chart" class="" width="100%" height="100%"></canvas>' );
							var ctx = document.getElementById( 'chart' ).getContext( '2d' );
							ctx.canvas.width = 300;
							ctx.canvas.height = 450;
							var keys = [];
							var values = [];
							_.each( response, function( val, key ) {
								formattedKey = new Date( key ).toLocaleDateString( 'es-ES', {
									day : 'numeric',
									month : 'short',
									timeZone : 'UTC'
									// year : 'numeric'
								});
								keys.push( formattedKey );
								values.push( val );
							});
							var myChart = new Chart(ctx, {
								type: 'bar',
								data: {
									labels: keys,
									datasets: [{
										label: 'nº de descargas',
										data: values,
										borderWidth: 1,
										backgroundColor: '#29AAE3'
									}]
								},
								options: {
									scales: {
										yAxes: [{
											ticks: {
												callback: function (value, index, values) {
													return value.toLocaleString();
												},
												// stepSize: 500000,
												beginAtZero:true
											}
										}]
									}
								}
							});
						}
					}
				});
			}
		});
		app_router.on('route:defaultRoute', function(actions) {
			var template = _.template( $( '#plugin-waiting' ).html() );
			$( '.plugin' ).prepend( template );
		});
		// Start Backbone history a necessary step for bookmarkable URL's
		Backbone.history.start();
	</script>

</body>
</html>